.image {
  width:100%;
  height:100%;
  flex-direction: column;
  /* justify-content: center; */
  display: flex;
  cursor:default;

}

.image .header{
  position: relative;
  top: 15%;
  text-align: center;
  font-size: 20px;
}

.image .imagedrag {
  /* padding: 10vh; */
  display: flex;
  margin: 18vh;
  
  /* position: relative;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 60%;
  height: 50%; */
  border: dashed;
  border-color: #282c34;
  border-radius: 5%;
  justify-content: center;
  line-height: 50vh;
  color:grey

}

#drag1{
  background-color: #282c344d;
}

.image .imagedrag label {
  color:royalblue;
  cursor: pointer;
}

#fileelem {
  display: none;
}

  